<%= render partial: "decidim/shared/component_announcement" %>

<div class="row view-header">
  <div class="column medium-9">
    <h2 class="heading2"><%= render_participatory_text_title(@participatory_text) %></h2>
  </div>
  <div class="column medium-3 pull-right">
    <%= render partial: "decidim/opinions/opinions/participatory_texts/view_index" %>
  </div>
</div>
<div class="row columns" id="opinions">
  <% @opinions.each do |opinion| %>
    <%= cell("decidim/opinions/participatory_text_opinion", opinion, context: { current_user: current_user }) %>
  <% end %>
</div>
